JIRA_BASE_URL=https://your-domain.atlassian.net
JIRA_EMAIL=your-email@company.com
JIRA_API_TOKEN=your-api-token
JIRA_PROJECT_KEY=PROJ
# Optional: custom Jira sync query. Use {PROJECT_KEY} if you want it to track JIRA_PROJECT_KEY automatically.
# JIRA_SYNC_JQL=project = {PROJECT_KEY} AND statusCategory != Done
JIRA_SYNC_JQL=project = AM AND issuetype = "AS: Test Defect" AND "aspen scrum team[dropdown]" = "ASPEN+ Modernization Team 2" AND assignee = 63cf64f4f6e1b54316164a0d ORDER BY "cf[11521]" ASC, "cf[10128]" ASC, status ASC, updated DESC, Rank ASC
PORT=3001